.fade {
	background: linear-gradient(180deg,
		rgba(255, 255, 255, 1) 5%,
		rgba(255, 255, 255, 0.95) 10%, 
		rgba(255, 255, 255, 0.90) 15%,
		rgba(255, 255, 255, 0.12) 50%,
		rgba(255, 255, 255, 0.06) 54%, 
		rgba(255, 255, 255, 0.03) 57%, 
		rgba(255, 255, 255, 0) 62%);
	width:100%;
	height:100%;
    }

.amber {
	background: yellow;
}
.ashes {
	background: linear-gradient(90deg, 
		rgba(90,90,90,255) 30%,
		rgba(120,120,120,255) 35%,
		rgba(120,120,120,255) 65%, 
		rgba(150,150,150,255) 70%);
}